.header{
    height: 11.5%;
    padding-bottom: 8px;
    padding-top: 8px;
    /* position: fixed; */
    
}
.header-div{
    width: 100%;
}

.logo{
    width: 60px;
}

mat-nav-list{
    display: flex;
}

.search{
   width: 70%;
}