.header{
    position: fixed;
    top: 0;
    z-index: 1030;
    
}
.header-div{
    width: 100%;

}

.logo{
    width: 60px;
}

mat-nav-list{
    display: flex;
    margin-top:1rem;
}

.search{
   width: 60%;
}

.logo-div{
    padding-top: 2rem;
}