<footer>
    <mat-card class="footer" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
        <div>
            <a>
                <p>About Muzix</p>
            </a>
            <a>
                <p>Contact us</p>
            </a>
            <a>
                <p>Accounts</p>
            </a>
        </div>
        <div>
            <a>
                <p>Community Support</p>
            </a>
            <a>
                <p>Community Guidelines</p>
            </a>
            <a>
                <p>Help</p>
            </a>
        </div>
        <div>
            <p>Follow Us</p>

            <a>
                <mat-icon id="fb" class="social-media-icons" svgIcon="facebook"></mat-icon>
            </a>
            <a>
                <mat-icon class="social-media-icons" svgIcon="youtube"></mat-icon>
            </a>
            <a>
                <mat-icon class="social-media-icons" svgIcon="twitter"></mat-icon>
            </a>

        </div>
    </mat-card>
</footer>