a, a:hover, a:active, a:visited, a:focus{
    color: white;
    text-decoration: none;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

mat-card{
    border-radius: 8px;
}