@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "./spacing.css";

body{
    margin: 0%;
    width: 100vw;
}

.primary-color{
    color: #d0346d;
}

.accent-color{
    color: #333333;
}


.primary-bg{
    background-color: #d0346d;
}

.accent-bg{
    background-color: #333333;
}

.muzix-body{
    margin-top:8rem;
}
